<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Recipe</title>
</head>
<body>

<div>
	<h2>Add New Recipe</h2>
</div>

<div>
	<form action="#" th:action="@{/recipes/new}" th:object="${recipe}" method="post">
	    <label for="name">Recipe Name</label>
	    <input type="text" th:field="*{name}" id="name" placeholder="Name">
	    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
	    <br/><br/>
	    <label for="description">Recipe Description</label>
	    <input type="text" th:field="*{description}" id="description" placeholder="Description">
	    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
	    <br/><br/>
	    <input type="submit" value="Add Recipe">   
	</form>
</div>

</body>
</html>