<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Recipe</title>
</head>
<body>
<div>

<div>
	<h2>Recipes</h2>
</div>
	
<div>
	<table>
		<thead>
			<tr>
				<td>No</td>
				<td>Name</td>
				<td>Description</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="recipe : ${recipes}">
				<td th:text="${recipe.id}"></td>
				<td th:text="${recipe.name}"></td>
				<td th:text="${recipe.description}"></td>
				<td><a th:href="@{/recipes/view/{id}(id=${recipe.id})}">View</a></td>
				<td><a th:href="@{/recipes/edit/{id}(id=${recipe.id})}">Edit</a></td>
				<td><a th:href="@{/recipes/delete/{id}(id=${recipe.id})}">Delete</a></td>
			</tr>
		</tbody>
	</table>
</div>

<p>
	<a href="/recipes/new">Add a new user</a>
</p>	

</div>
</body>
</html>